<div id='suggestions'>
  <h2>Suggested supermarkets</h2>
  <ul>
    <li>Stop & Shop</li>
    <li>StarMarket</li>
    <li>Whole Foods Market</li>
    <li>America's Food Basket</li>
  </ul>
</div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
