/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
#header {
  margin-top: 2em;
}

#search {
  margin-top: 4em;
  text-align: center;
}

body {
  background: url('http://i.imgur.com/H52Iztj.jpg') no-repeat center;
  background-size: 100%;
  background-attachment: fixed;
}

h3:hover {
  color: green;
  text-decoration: underline;
}

.label:hover {
  color: green;
}

.url a {
  color: black;
}

.url a:hover {
    color: green;
}

.nav-bar a {
  color: #006400;
}

#right-nav {
  display: inline-block;
  float: right;
  margin-right: 25px;
}

#center-nav {
  display: inline-block;
  float:right;
  color: #006400;
  margin-right: 10px;
}

.nav-bar {
  border: 1px solid green;
  padding: 6px;
  background-color: white;
  padding-left: 15px;
}

#list a {
  color: black;
}

#list a:hover {
  color: green;
  text-decoration: underline;
}

a {
  color: black;
}

#delete {
  margin-right: 25px;
  margin-bottom: 20px;
}
