#list a {
  color: black;
}

#list a:hover {
  color: green;
  text-decoration: underline;
}

#list {
  margin-bottom: 100px;
}

#delete {
  margin-bottom: 30px;
}

#ingredients, #comment {
  border: 1px solid green;
  padding: 5px;
  background-color: #F0FFFF;
}

.option, #form, #recipe-show, #list-show {
  border: 1px solid green;
  padding: 10px;
  background-color: #F0F8FF;
}

#back-buttons, #edit-buttons, #add-buttons {
  display: inline-block;
  color: white;
  border-radius: 15px;
  background-color: #AFEEEE;
  padding-left: 10px;
  padding-right: 10px;
}
